img.logo{
    width: 100%;
    padding-top: 1.5% ;
}
.sobreTodo{
    position: relative;
    z-index: 30;
}

footer{
    background-color: rgb(134, 134, 134);
}

.Landing{
    position: relative;
}

#flotadorIMG {
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 5;
}

.imgNpantalla{
    animation-name: movimientoPika;
    animation-duration: 2s;
}

.responsiveIMG{
    max-width: 60%;
    height: auto;
  }

#flotador {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 10;
}

.textoNpantalla{
    color: aliceblue;
    font-size: 4vw;
    text-shadow: 0 0 20px rgb(41, 41, 41);
    animation-name: movimiento;
    animation-duration: 1.5s;
}

@keyframes movimiento {
    from {
      top: 40%;
    }
    to {
      top: 30%;
    }
  }

  @keyframes movimientoPika {
    from {
        left: 140%;
    }
    to {
        left: 60%;
    }
  }