
body{
    background-color: rgb(231, 231, 231) !important;
}

/*---- C A T E G O R Í A ----*/
.banner{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}
.banner>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contCat{
    width: 100%;
    display: flex;
}

.barraProd{
    position: relative;
    display: inline-block;
    width: 25%;
    min-width: 200px;
    height: 100%;
    min-height: 50rem;
    padding: 0.5em;
}
.barraProd label{
    color: rgb(119, 119, 119);
}

.contProd{
    position: relative;
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

.card-category{
    width: 30%;
    min-width: 14rem !important;
    max-width: 20rem !important;
    height: 30rem;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
    display: inline-block !important;
    border: none;
}

.cc-body{
    position: relative;
    max-height: 20rem !important;
    min-height: 18rem !important;
    font-weight: lighter;
    /*background-color: cornflowerblue;*/
}

.card-category>img{
    width: 200px;
    height: auto;
}

.card-category:hover{
    box-shadow: 3px 10px 18px #5a5a5a;
}

.oferta{
    width: fit-content;
    color: rgb(29, 161, 36);
    background-color: rgb(207, 252, 209);
    border-radius: 4px;
    padding: 0.5px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 600;
    font-size: small;
}

#backTOP{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#backTOP:hover{
    background-color: rgb(190, 2, 102);
    color: rgb(90, 3, 49);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none !important;
}

#backTOP:active{
    border: none !important;
}
/*---- C A T E G O R Í A   **F I N** ----*/


/*---- C A R R I T O ----*/

.completarPantalla{
    min-height: 40vw;
}

.media{
    background-color: white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.media svg:hover{
    color: red;
}

.media svg:active{
    color: white;
}

.media img{
    height: 6em;
    width: auto;
}

.media:hover{
    background-color: rgb(224, 224, 224);
}

.contador{
    max-width: 120px;
}

.contador input{
    background-color: rgb(19, 19, 19) !important;
    color: white !important;
    border: none !important;
}

.resta{
    font-weight: bold !important;
    background-color: rgb(245, 245, 245) !important;
    color: black !important;
}

.suma{
    font-weight: bold !important;
    background-color: rgb(204, 65, 65) !important;
    color: white !important;
    border: none !important;
}

.resta:hover{
    background-color: tomato !important;
}

.suma:hover{
    background-color: tomato !important;
}

/*---- C A R R I T O   **F I N** ----*/


/*---- L A N D I N G ----*/
.card-principal{
    border: none !important;
    height: 26rem !important;
    display: inline-block !important;
}
.card-principal:hover{
    box-shadow: 3px 10px 18px #5a5a5a;
}

img.logo{
    width: 100%;
    padding-top: 1.5% ;
}
.sobreTodo{
    position: relative;
    z-index: 30;
}

footer{
    background-color: rgb(134, 134, 134);
}

.Landing{
    position: relative;
}

#flotadorIMG {
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 5;
}

.imgNpantalla{
    animation-name: movimientoPika;
    animation-duration: 2s;
}

.responsiveIMG{
    max-width: 60%;
    height: auto;
  }

#flotador {
    position: absolute;
    top: 17vw;
    left: 20%;
    z-index: 10;
}

.textoNpantalla{
    color: aliceblue;
    font-size: 4vw;
    text-shadow: 0 0 20px rgb(41, 41, 41);
    animation-name: movimiento;
    animation-duration: 1.5s;
}

@keyframes movimiento {
    from {
      top: 25vw;
      opacity: 0;
    }
    to {
      top: 17vw;
      opacity: 1;
    }
  }

  @keyframes movimientoPika {
    from {
        left: 140%;
    }
    to {
        left: 60%;
    }
  }

  img.logo{
    width: 100%;
    padding-top: 1.5% ;
}
h1.título{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: xx-large;
}

.logoNav{
    width: 30px;
    height:30px;
}
/*---- L A N D I N G   **F I N**----*/


/*---------------*/


/*---------------*/


.centeredBTN{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.contGlobal{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
.mainContent{
    margin-top: 30px;
    margin-bottom: 50px;
}

.separador{
    width: 100%;
    height: 2em;
    background: #50278a;
    padding-top: 3px;
    padding-bottom: 3px;
    color: azure;
    text-align: center;
}
.perfil{
    color: azure;
}
.perfil h3{
    font-size: 3vw;
    border: dotted azure 2px;
    border-radius: 50px
}
.perfil img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 1vw;
}
.listaNotas{
    background: #e6e6e6;
    border-radius: 10px;
    width: 100%;
    height: 50em;
}
.notaLista{
    height: 10em;
}
.listaCard img{
    height: 10em;
    width: auto;
    padding: 1vw;
}
.listaCard:hover{
    background: #e9e9e9
}

footer{
    background: #6f6570;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}


.fixed-top-2 {
    margin-top: 56px;
}

body {
    padding-top: 105px;
    background-color: #e7e7e7;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #d12216 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #db2518 !important;
}

.nav {
    background-color:  #ffffff;
}

.nav2 {
    background-color:  #949494;
}

.iniciarSesionDrop{
    margin-right: 10px;
    margin-bottom: 10px;
}

.RegistrarseDrop{
    margin-bottom: 10px;
}

.iniciarSesionDrop .dropdown-menu  { 
    width: 300px !important;
    height: 380px !important;
}

.RegistrarseDrop .dropdown-menu  { 
    width: 300px !important;
    height: 430px !important;
}

.imgNavBar{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;

}

.usuarioNav{
    margin-right: 20px;
}

.imagenUserNavbar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%
}

.imagenUserConfig{
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 20px;
    border-radius: 50% !important;
}

.campoConfig{
    margin-bottom: 20px;
}

.btnConfig{
    margin-top: 20px;
}

.separadorConfig{
    width: 100%;
    height: 3px;
    background: #000000;
    color: azure;
    text-align: center;
}

.usuarioNomNav{
    color:#000000;
    margin-right: 30px;
}

.btnBaja, .btnBaja:hover, .btnBaja:active, .btnBaja:visited{
    margin-top: 5px;
    background-color: #d40b42 !important;
}

.seccion{
    margin-left: 40px !important;
}


.comentario{
    position: relative;
}
.comentario img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2.5em;
}
.comentext{
    display: inline-block;
    background: azure;
    min-height: 6em;
    max-width: 1050px;
    padding: 0.75em;
    border-radius: 10px;
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.7em;
}


.btnRegreasarEditor, .btnRegreasarEditor:hover, .btnRegreasarEditor:active, .btnRegreasarEditor:visited{
    margin-top: 5px;
    margin-bottom: 100px !important;
    background-color: #d40b42 !important;
}

.categorianav{
    margin-right: 7px;
    margin-top: 15px;
    font-size: 18px;
}

@media screen and (max-width: 1001px) {
    .categorianav{

        font-size: 0px;
    }

}

.navbar-brand{
    color: #000000 !important;
}

.navbar-toggler-icon{
    color: #d40b42 !important;
}

.navbar-toggler {
  background-color: #db2518 !important;
} 

.titulo{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.perfilC{
    position: relative;
    display: inline-block;
    width: 85%;
    padding: 3%;
    padding-left: 10%;
    padding-right: 15%;
    margin-bottom: 300px;
    color: black;
}

@media screen and (max-width: 922px) {
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 480px;
        color: black;
    }
    .perfilBarra{
        font-size: 0px;
    }

}

@media screen and (max-height: 1035px) {
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 530px;
        color: black;
    }

}

@media screen and (max-height: 785px) {
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 730px;
        color: black;
    }

}
@media screen and (max-height: 585px) {
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 830px;
        color: black;
    }

}
@media screen and (max-height: 485px) {
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 1130px;
        color: black;
    }

}
@media screen and (max-width: 1382px){
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 730px;
        color: black;
    }

}
@media screen and (max-height: 1035px) and (max-width: 1382px){
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 860px;
        color: black;
    }

}

@media screen and (max-height: 785px) and (max-width: 1382px){
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 1100px;
        color: black;
    }

}
@media screen and (max-height: 585px) and (max-width: 1382px){
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 1300px;
        color: black;
    }

}
@media screen and (max-height: 485px) and (max-width: 1382px){
    .perfilC{
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 3%;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 1460px;
        color: black;
    }

}


.barra{
    position: fixed;
    display: inline-block;
    background: #d81c1c;
    width: 15%;

    margin-left:auto;
    margin-right:0;
    float: right;
    box-shadow: 3px 10px 18px #332f35;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.perfil{
    color: azure;
}
.perfil h3{
    font-size: 3vw;
    border: dotted azure 2px;
    border-radius: 50px
}
.perfil img{
    margin-top: 50px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 1vw;
}

.carro{
    height: 30px;
    width: 30px;

}
.config{
    margin-top: 100px;
    margin-bottom: 380px;
}

@media screen and (max-width: 922px) {
    .config{
        margin-top: 100px;
        margin-bottom: 480px;

    }
}

@media screen and (max-height: 1035px) {
    .config{
        margin-top: 100px;
        margin-bottom: 530px;

    }

}

@media screen and (max-height: 785px) {
    .config{
        margin-top: 100px;
        margin-bottom: 730px;

    }

}
@media screen and (max-height: 585px) {
    .config{
        margin-top: 100px;
        margin-bottom: 830px;

    }

}
@media screen and (max-height: 485px) {
    .config{
        margin-top: 100px;
        margin-bottom: 1130px;

    }

}
@media screen and (max-width: 1382px){
    .config{
        margin-top: 100px;
        margin-bottom: 730px;

    }

}
@media screen and (max-height: 1035px) and (max-width: 1382px){
    .config{
        margin-top: 100px;
        margin-bottom: 860px;
    }

}

@media screen and (max-height: 785px) and (max-width: 1382px){
    .config{
        margin-top: 100px;
        margin-bottom: 1100px;

    }

}
@media screen and (max-height: 585px) and (max-width: 1382px){
    .config{
        margin-top: 100px;
        margin-bottom: 1300px;

    }

}
@media screen and (max-height: 485px) and (max-width: 1382px){
    .config{
        margin-top: 100px;
        margin-bottom: 1460px;

    }

}


.imgConCompra{
    height: 50px;
    width: 50px;
}

.logoNavC{
    height: 10px !important;
    width: 10px !important;
}

.listas{
    height: 500px !important;
    width: 400px !important;

}
